<h2> Nueva Compra </h2><hr>

<div class="main">
    <mat-card class="example-card">
          
          <form autocomplete="off"
          (ngSubmit)="agregarDetalleVenta()"
          [formGroup]="miFormDetalle">
          
            <h2> Detalle de compra </h2>   
    
            <mat-form-field appearance="outline">
                <mat-label>Cliente</mat-label>
                <mat-select class="form-control" formControlName="idCliente">
                  <mat-option *ngFor="let personas of resultadosPersonas" [value]="personas.id">
                    {{personas.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Juego</mat-label>
                <mat-select class="form-control" formControlName="idJuego">
                  <mat-option *ngFor="let juego of resultados" [value]="juego.id">
                    {{juego.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Cantidad</mat-label>
                <input class="form-control" formControlName="cantidad" required matInput placeholder="xxxx" >
                <mat-hint>Campo Obligatorio</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Precio</mat-label>
                <input class="form-control" formControlName="precio" required matInput placeholder="$15000">
                <mat-hint>Campo Obligatorio</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Descuento</mat-label>
                <input class="form-control" formControlName="descuento" required matInput placeholder="15%" >
            </mat-form-field>     

                    
            <mat-card-actions>
                <button mat-button type="submit" matTooltip="guardar" (click)="agregarDetalleVenta()"  color="primary"><mat-icon>add_circle</mat-icon>Agregar Juego</button>
                <button mat-button color="warn"><mat-icon>cancel</mat-icon>Cancelar</button>
            </mat-card-actions>
        </form>
       
      </mat-card>
      
</div>