<!-- <hr>
          <form autocomplete="off"
          (ngSubmit)="guardar()"
          [formGroup]="miForm"> -->


<div class="main">
    <mat-card class="example-card">
        
          <h2> Nuevo Juego </h2>
          <hr>
          
          <form autocomplete="off"
          (ngSubmit)="guardar()"
          [formGroup]="miForm">

        <!-- <mat-form-field appearance="outline">   
        <input class="form-control" formControlName="id" required matInput>
            <mat-hint>Campo Obligatorio</mat-hint>
        </mat-form-field> -->
          
          <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input class="form-control" formControlName="nombre" required matInput placeholder="FIFA" >
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <mat-hint>Campo Obligatorio</mat-hint>
          </mat-form-field>
          
  
          <mat-form-field appearance="outline">
              <mat-label>Genero</mat-label>
              <select matNativeControl 
                      class="form-control"
                      formControlName="idGenero" 
                      required>
                <option value="1">Deporte</option>
                <option value="2">Aventura</option>
                <option value="3">Shooter</option>
                <option value="4">Carreras</option>
              </select>
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Consola</mat-label>
            <select matNativeControl 
                    class="form-control"
                    formControlName="idConsola" 
                    required>
              <option value="1">Play Station 5</option>
              <option value="2">Play Station 4</option>
              <option value="3">Play Station 3</option>
              <option value="4">Xbox Series</option>
              <option value="5">Xbox One</option>
              <option value="6">Xbox 360</option>
            </select>
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Desarrolladores</mat-label>
            <select matNativeControl 
                      class="form-control"
                      formControlName="idDesarrolladores" 
                      required>
              <option value="1">EA Sport</option>
              <option value="2">Activision</option>
              <option value="3">Blizzard</option>
              <option value="4">Infinity</option>
              <option value="5">Raven</option>
              <option value="6">Naughty Dog</option>
            </select>
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Clasificacion</mat-label>
            <select matNativeControl 
                      class="form-control"
                      formControlName="idClasificacion" 
                      required>
              <option value="1">Todos</option>
              <option value="2">Adolescente</option>
              <option value="3">Madure</option>
            </select>
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        </mat-form-field>
    
        
          <mat-form-field appearance="outline">
              <mat-label>Año de lanzamiento</mat-label>
              <input class="form-control" formControlName="añoLanzamiento" required matInput placeholder="2022">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <mat-hint>Campo Obligatorio</mat-hint>
          </mat-form-field>
          
  
          
            <mat-form-field appearance="outline">
              <mat-label>Precio</mat-label>
              <input class="form-control" formControlName="precio" required matInput placeholder="$10000">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <mat-hint>Campo Obligatorio</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Stock</mat-label>
                <input class="form-control" formControlName="stock" required matInput placeholder="xxxx">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <mat-hint>Campo Obligatorio</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Stock minimo</mat-label>
                <input class="form-control" formControlName="stockMin" required matInput placeholder="xxxx">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <mat-hint>Campo Obligatorio</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Stock maximo</mat-label>
                <input class="form-control" formControlName="stockMax" required matInput placeholder="xxxx">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <mat-hint>Campo Obligatorio</mat-hint>
            </mat-form-field>
          
        
            <mat-card-actions>
                <button mat-button type="submit" matTooltip="guardar" (click)="guardar()"  color="primary"><mat-icon>add_circle</mat-icon>Confirmar</button>
                <button mat-button color="warn"><mat-icon>cancel</mat-icon>Cancelar</button>
            </mat-card-actions>
        </form>
       
      </mat-card>
      
</div>
<!-- </form> -->



<!-- <div class="row">
    <div class="col">
        <form autocomplete="off"
              (ngSubmit)="guardar()"
              [formGroup]="miForm">
            

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Nombre Juego</label>
                <div class="col-sm-9">
                  <input matInput 
                         type="text" 
                         class="form-control" 
                         placeholder="Nombre del Juego"
                         formControlName="nombre"
                         >
                         <span class="form-text text-danger"
                               *ngIf="tieneError('nombre')">
                            Minimo 3 letras
                        </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Genero</label>
                <div class="col-sm-9">
                    <mat-select name="dropdown" 
                         class="form-control"
                         formControlName="idGenero">
                        <mat-option value="1">Deporte</mat-option>
                        <mat-option value="2">Aventura</mat-option>
                        <mat-option value="3">Shooter</mat-option>
                    </mat-select>                         
                    <span class="form-text text-danger"
                          *ngIf="tieneError('idGenero')">
                        Seleccionar Genero del juego
                    </span>
                </div>
            </div>
            
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Consola</label>
                <div class="col-sm-9">
                    <select name="dropdown" 
                         class="form-control"
                         formControlName="idConsola">
                        
                        <option value="1">PS5</option>
                        <option value="2">PS4</option>
                        <option value="3">PS3</option>
                        <option value="4">Xbox Series</option>
                        <option value="5">Xbox One</option>
                        <option value="6">Xbox 360</option>
                    </select>                         
                    <span class="form-text text-danger"
                          *ngIf="tieneError('idConsola')">
                        Seleccionar Consola
                    </span>
                </div>
            </div> 

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Desarrolladores</label>
                <div class="col-sm-9">
                    <select name="dropdown" 
                         class="form-control"
                         formControlName="idDesarrolladores">
                        
                        <option value="1">EA SPORT</option>
                        <option value="2">Activision</option>
                        <option value="3">Blizzard</option>
                        <option value="4">Infinity Ward</option>
                        <option value="5">Raven</option>
                        <option value="6">Naughty Dog</option>
                        
                    </select>                         
                    <span class="form-text text-danger"
                          *ngIf="tieneError('idDesarrolladores')">
                        Seleccionar Desarrollador
                    </span>
                </div>
            </div> 

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Clasificacion</label>
                <div class="col-sm-9">
                    <select name="dropdown" 
                         class="form-control"
                         formControlName="idClasificacion">
                        <option value="0" selected></option>
                        <option value="1">Todos</option>
                        <option value="2">Adolescente</option>
                        <option value="3">Maduros</option>
                    </select>                         
                    <span class="form-text text-danger"
                          *ngIf="tieneError('idClasificacion')">
                        Seleccionar Clasificacion
                    </span>
                </div>
            </div> 

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Año de Lanzamiento</label>
                <div class="col-sm-9">
                  <input type="text" 
                         class="form-control" 
                         placeholder="Año de Lanzamiento"
                         formControlName="añoLanzamiento"
                         >
                         <span class="form-text text-danger"
                               *ngIf="tieneError('añoLanzamiento')">
                            cuatro digitos
                        </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                  <input type="text" 
                         class="form-control" 
                         placeholder="Precio"
                         formControlName="precio"
                         >
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Stock</label>
                <div class="col-sm-9">
                  <input type="number" 
                         class="form-control" 
                         placeholder="Ingresar Stock Actual"
                         formControlName="stock">
                         <span class="form-text text-danger"
                               *ngIf="tieneError('stock')">
                            Stock Actual mayor o igual que cero
                         </span>                         
                </div>
            </div>            

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Stock Minimo</label>
                <div class="col-sm-9">
                  <input type="number" 
                         class="form-control" 
                         placeholder="Ingresar Stock Minimo"
                         formControlName="stockmin">
                         <span class="form-text text-danger"
                               *ngIf="tieneError('stockmin')">
                            Stock Minimo mayor o igual que cero
                        </span>                         
                </div>
            </div>  

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Stock Maximo</label>
                <div class="col-sm-9">
                  <input type="number" 
                         class="form-control" 
                         placeholder="Ingresar Stock Maximo"
                         formControlName="stockmax">
                         <span class="form-text text-danger"
                               *ngIf="tieneError('stockmax')">
                            Stock Maximo mayor o igual que cero
                        </span>                         
                </div>
            </div>             
           
            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        guardar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div> -->

<div class="row">
    <span>Valid</span>
    <pre>{{miForm.valid}}</pre>

    <span>Value</span>
    <pre>{{miForm.value | json}}</pre>

    <span>Pristine</span>
    <pre>{{miForm.pristine}}</pre>        
    <span>Touched</span>
    <pre>{{miForm.touched}}</pre>
</div>  