<div class="main">
    <mat-card class="example-card">
        
          <h2> Nueva Persona </h2>
          <hr>
          
          <form autocomplete="off"
          (ngSubmit)="guardar()"
          [formGroup]="miForm">
          
          <mat-form-field appearance="outline">
              <mat-label>Nombre Persona</mat-label>
              <input class="form-control" formControlName="nombre" required matInput placeholder="Nombre" >
              <mat-hint>Campo Obligatorio</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Apellido Persona</mat-label>
            <input class="form-control" formControlName="apellido" required matInput placeholder="Apellido" >
            <mat-hint>Campo Obligatorio</mat-hint>
          </mat-form-field>
          
  
          <mat-form-field appearance="outline">
              <mat-label>Tipo de Persona</mat-label>
              <select matNativeControl required formControlName="idTipoPersona">
                <option value="1">Cliente</option>
                <option value="2">Proveedor</option>
              </select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tipo Documento</mat-label>
            <select matNativeControl required formControlName="idTipoDocumento">
              <option value="1">DNI</option>
              <option value="2">LE</option>
              <option value="3">LC</option>
              <option value="4">CUIT</option>
            </select>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Documento/CUIT</mat-label>
            <input class="form-control" formControlName="documento" required matInput placeholder="20000000">
            <mat-hint>Campo Obligatorio</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Tipo de Telefono</mat-label>
            <select matNativeControl required formControlName="idTipoTelefono">
              <option value="1">Celular Personal</option>
              <option value="2">Casa</option>
              <option value="3">Trabajo</option>
            </select>
        </mat-form-field>
    
        
          <mat-form-field appearance="outline">
            <mat-label>Numero Telefono</mat-label>
            <input type="tel" matInput placeholder="555-555-1234" formControlName="telefono">
              <mat-hint>Campo Obligatorio</mat-hint>
          </mat-form-field>
          
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" 
                       placeholder="Ex. mail@example.com" formControlName="email">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Ingrese un mail correcto
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email es <strong>requerido</strong>
                </mat-error>
              <mat-hint>Campo Obligatorio</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Nombre Calle</mat-label>
                <input class="form-control" formControlName="calle" required matInput placeholder="Nombre de la Calle" >
                <mat-hint>Campo Obligatorio</mat-hint>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Numero Calle</mat-label>
                <input class="form-control" formControlName="numeroCalle" required matInput placeholder="Ex. 2200">
                <mat-hint>Campo Obligatorio</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Ciudad</mat-label>
                <select matNativeControl required formControlName="idCiudad">
                  <option value="1">Concepcion del Uruguay</option>
                  <option value="2">Pronunciamiento</option>
                  <option value="3">Colon</option>
                  <option value="4">San Jose</option>
                  <option value="5">Villa Elisa</option>
                  <option value="6">Gualeguaychu</option>
                </select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Codigo Postal</mat-label>
                <input class="form-control" formControlName="codigoPostal" required matInput placeholder="Ex. 3263">
                <mat-hint>Campo Obligatorio</mat-hint>
            </mat-form-field>
          
        
            <mat-card-actions>
                <button mat-button type="submit" color="primary"><mat-icon>add_circle</mat-icon>Confirmar</button>
                <button mat-button color="warn" (click)="clear()"><mat-icon>cancel</mat-icon>Cancelar</button>
            </mat-card-actions>
        </form>
       
      </mat-card>
      
</div>

<div class="row">
    <span>Valid</span>
    <pre>{{miForm.valid}}</pre>

    <span>Value</span>
    <pre>{{miForm.value | json}}</pre>

    <span>Pristine</span>
    <pre>{{miForm.pristine}}</pre>        
    <span>Touched</span>
    <pre>{{miForm.touched}}</pre>       

    <!-- <span>Custom</span>
    <pre>{{miForm.controls.calle?.errors| json}}</pre>         -->

</div>