.small-flag{
    width: 50px;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 5s;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
